<% layout('base') %>
<% styles = '<link rel="stylesheet" href="/css/index.css">' %>
<% scripts = '' %>

<div class="background">
  <h1 class="page-title">中国語単語帳</h1>

  <div class="menu-buttons">
    <a href="/wordbook/japanese" class="menu-button">日本語で暗記</a>
    <a href="/wordbook/chinese" class="menu-button">中国語で暗記</a>
    <a href="/wordbook/pinyin" class="menu-button">拼音で暗記</a>
    <a href="/show" class="menu-button">単語一覧</a>
    <a href="/make_sentence" class="menu-button">並べ替え問題</a>
  </div>
</div>