<% layout('base') %>
<% styles = '<link rel="stylesheet" href="/css/style.css">' %>
<% scripts = '<script src="/js/newscript.js"></script>' %>

<div class="container">
    <div id="problem-container"></div>
    <div id="result"></div>
    <div id="answer-container"></div>
    <button id="check-answer">答えを確認</button>
    <button id="next-problem">次の問題</button>
    <button id="toggle-pinyin">ピンイン表示</button>
</div>
